@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100&display=swap');
*{
padding: 0;
margin: 0;
box-sizing: border-box;
font-family: 'Urbanist', sans-serif;
}
:root {
    --main-color: #0062ff;
    --supporting-color: #ebf3fe;
    --font-color: #424242;
    /* --bg-color: #ffffff; */
    --bg-color: #f7fcff;
    --heading-color: #000a19;
    --hero-heading-color: #003b99;
    --white-color: #ffffff;
    --para-color: #504e4d;
    --bnt-hover-bg-color: #003b99;
    --btn-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    --footer-bg-color: #040d12;
}
html
{
font-size: 62.5%;
}
p,
li,
a,
label {
    font-family: "Urbanist", sans-serif;
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
    font-weight: 400;
    color: var(--para-color);
    line-height: 1.5;
}
a {
    text-decoration: none;
}

li {
    list-style: none;
}
.section-navbar {
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
        rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.btn {
    display: inline-block;
    padding: 1.2rem 3.2rem;
    background-color: var(--main-color);
    color: var(--white-color);
    border-radius: 0.6rem;
    -webkit-border-radius: 0.6rem;
    -moz-border-radius: 0.6rem;
    -ms-border-radius: 0.6rem;
    -o-border-radius: 0.6rem;
}


.btn:hover {
    background-color: var(--bnt-hover-bg-color);
    cursor: pointer;
    box-shadow: var(--btn-box-shadow);
}

.section-navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.8rem 2.4rem;
}

.section-navbar .navbar ul {
    display: flex;
    gap: 3.2rem;
    /* text-transform: capitalize; */

    & li a {
        color: var(--heading-color);
        text-transform: uppercase;
        font-weight: 600;
        font-size: 1.6rem;
        display: inline-block;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            color: aliceblue;
            bottom: -0.3rem;
            left: 0;
            width: 0%;
            border-bottom: 0.2rem solid rgb(225, 122, 38);
            transition: all 0.3s linear;
            -webkit-transition: all 0.3s linear;
            -moz-transition: all 0.3s linear;
            -ms-transition: all 0.3s linear;
            -o-transition: all 0.3s linear;
        }
    }

    & li a:hover:after {
        width: 100%;
    }
}
.containerx{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.section-hero--image img{
    height: 700px;
    width: 700px;
     padding-left: 18%;
     /* filter: drop-shadow(50px 50px 50px #679eff); */
    
}
.section-hero--content
{
    padding-top: 20%;
   text-align: center;
}
main {
    position: relative;
    background-image: linear-gradient(to top right,
            #3d86fa,
            #4484fb,
            #679eff,
            #b3d2ff,
            #ebf3fe);
}
