@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Urbanist', sans-serif;

}

:root {
    --main-color: #0062ff;
    --supporting-color: #ebf3fe;
    --font-color: #424242;
    /* --bg-color: #ffffff; */
    --bg-color: #f7fcff;
    --heading-color: #000a19;
    --hero-heading-color: #003b99;
    --white-color: #ffffff;
    --para-color: #504e4d;
    --bnt-hover-bg-color: #003b99;
    --btn-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    --footer-bg-color: #040d12;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

p,
li,
a,
label {
    font-family: "Urbanist", sans-serif;
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
    font-weight: 900;
    color: var(--para-color);
    line-height: 1.5;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.section-navbar {
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
        rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

}

.btn {
    display: inline-block;
    padding: 1.2rem 3.2rem;
    background-color: var(--hero-heading-color);
    color: var(--white-color);
    border-radius: 0.6rem;
    -webkit-border-radius: 0.6rem;
    -moz-border-radius: 0.6rem;
    -ms-border-radius: 0.6rem;
    -o-border-radius: 0.6rem;
    /* max-width: 230px; */
}

/* section {
    scroll-snap-align: center;
} */

.btn:hover {
    /* background-image: linear-gradient(to top right,
            #3d86fa,
            #4484fb,
            #679eff,
            #b3d2ff,
            #ebf3fe); */
    background-color: orange;
    cursor: pointer;
    color: var(--white-color);
    box-shadow: var(--btn-box-shadow);
}

.section-navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.8rem 2.4rem;
}

.section-navbar .navbar ul {
    display: flex;
    gap: 3.2rem;


    & li a {
        color: var(--heading-color);
        text-transform: uppercase;
        font-weight: 600;
        font-size: 1.6rem;
        display: inline-block;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            color: rgb(62, 134, 197);
            bottom: -0.3rem;
            left: 0;
            width: 0%;
            border-bottom: 0.2rem solid rgb(225, 122, 38);
            transition: all 0.3s linear;
            -webkit-transition: all 0.3s linear;
            -moz-transition: all 0.3s linear;
            -ms-transition: all 0.3s linear;
            -o-transition: all 0.3s linear;
        }
    }

    & li a:hover:after {
        width: 100%;
    }
}

.containerx {
    display: grid;
    grid-template-columns: repeat(2, 1fr);


}

.section-hero--image img {
    padding-top: 15%;
    width: 100%;
    height: 100%;
    padding-left: 18%;
    padding-bottom: 20%;


}

.section-hero--content {
    padding-top: 20%;
    padding-left: 20%;
    text-align: center;
    align-items: center;
    gap: 6.4rem;

    & .hero-subheading {
        text-transform: uppercase;
        letter-spacing: 0.2rem;
        font-size: 1.7rem;
        word-spacing: 0.2rem;
        color: var(--white-color);
        font-weight: 900;
    }

    & .hero-heading {

        font-size: 3.8rem;
        line-height: 1.5;
        font-family: "Jost";
        color: var(--bnt-hover-bg-color);
        font-weight: 900;

    }

    & .hero-para {
        color: var(--white-color);
        margin: 2rem 0 4.2rem 0;
        font-weight: 800;
    }
}

main {
    position: relative;
    background-color: #fefefe;
    background-image: linear-gradient(315deg, #fefefe 0%, #00a4e4 74%);
}

.custom-shape-divider-bottom-1706297761 {
    position: absolute;
    bottom: 0%;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1706297761 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-bottom-1706297761 .shape-fill {
    fill: #FFFFFF;
}

.section-common-subheading {
    padding-top: 1%;
}

.section-common-heading {
    font-family: "Poppins", sans-serif;
    font-size: 3.2rem;
    font-weight: 600;
    text-transform: capitalize;

}

.about-section {
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
}

.about-section img {
    padding: 2.4rem;
    background-color: var(--supporting-color);
    width: 20rem;
    height: 19rem;
    border-radius: 50%;
    transition: all 0.2s linear;
}

.section-common-title {
    font-size: 2rem;
    margin: 4rem 0 2rem 0;
}

.about-section .solo,
.couple,
.group {
    text-align: start;

}

.containery {
    padding-top: 5%;
    display: grid;
    gap: 3.2rem;
    grid-template-columns: repeat(3, 1fr);
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.containery h3 {
    font-weight: 700;
}

.icon:hover img {
    background-color: #fefefe;
    background-image: linear-gradient(315deg, #fefefe 0%, #00a4e4 74%);
    transform: scale(1.2);
}

.fa-solid,
.fa-brands {
    padding: 2.4rem;
    background-color: var(--supporting-color);
    font-size: 2.4rem;
    border-radius: 50%;
}

.tour-section {
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
}

.tour-section .xray {
    text-align: left;
    padding: 10%;

}

.tour-section .xray:hover {

    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
        rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

}



.containerz {
    padding-top: 5%;
    display: grid;
    gap: 18px;
    grid-template-columns: repeat(4, 1fr);

}

h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

.tour-section {
    background-color: var(--bg-color);
}

.xray:nth-child(2) .icon .fa-solid {
    color: #68bf9b;
    background-color: #e7f6ef;
}

.xray:nth-child(1) .icon .fa-solid {
    color: #ff8b52;
    background-color: #fbebe8;
}

.xray:nth-child(4) .icon .fa-solid {
    color: #183d3d;
    background-color: #ccf7f7;
}

.xray:nth-child(5) .icon .fa-solid {
    color: #d988b9;
    background-color: rgb(247, 223, 238);
}

.xray:nth-child(6) .icon .fa-solid {
    color: #ff9b50;
    background-color: #f6dfce;
}

.xray:nth-child(7) .icon .fa-solid {
    color: #1450a3;
    background-color: #dce9fa;
}

.why-choose-section {
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
}

.containerj {
    display: grid;
    padding-top: 5%;
    padding-bottom: 5%;
    gap: 100px;
    grid-template-columns: repeat(3, 1fr);
}

.middle img {
    padding-top: 20%;
    width: 100%;
    height: auto;
}

.why-choose-section .left .why-choose {

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: end;
    text-align: right;
}

.why-choose {
    margin-top: 3.2rem;
    padding-bottom: 5%;
}

.why-choose .number {
    width: 6rem;
    aspect-ratio: 1;
    background-color: var(--supporting-color);
    color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.4rem;
    font-weight: 700;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.middle,
figure {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.middle figure:before,
.middle figure::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    background-color: var(--main-color);
    width: 45rem;
    
    height: 45rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    z-index: -1;
}

.middle figure::before {
    animation: circle 5s linear infinite;
    -webkit-animation: circle 5s linear infinite;
}

@keyframes circle {
    0% {
        background-color: #b3d0ff;
    }

    25% {
        background-color: #80b1ff;
    }

    50% {
        background-color: #4d91ff;
    }

    75% {
        background-color: #99c0ff;
    }

    100% {
        background-color: #3381ff;
    }
}

.middle figure::after {
    width: 50rem;
    height: 50rem;
    background-color: transparent;
    z-index: -2;
    border: 0.5rem solid var(--supporting-color);
}

.section-contact--homepage {
    /* margin-top: 80px; */
    width: 60%;
    height: 30rem;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
        rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.section-contact--homepage .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.section-contact--homepage {
    background-color: var(--white-color);
    width: 60%;
    min-height: 30rem;
    margin: 0 auto;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    /* margin-bottom: 5rem; */
    border-radius: 0.2rem;
    -webkit-border-radius: 0.2rem;
    -moz-border-radius: 0.2rem;
    -ms-border-radius: 0.2rem;
    -o-border-radius: 0.2rem;
    padding: 0 3.2rem;
    position: relative;
    /* bottom: -15rem; */
    z-index: 1;
    margin-bottom: -15rem;
    background-color: var(--white-color);
    /* z-index: 1; */

    /* & .grid {
        display: grid;
        align-items: center;
        gap: 2.4rem;
    } */
}

.contact-content {
    padding-top: 5%;
    padding-left: 13%;
}

.contact-title {
    /* color: var(--white-color); */
    padding-top: 5%;
    font-family: "Poppins", sans-serif;

    font-weight: 550;

    font-size: 3.8rem;
    line-height: 1.2;
}

/* .section-contact--homepage .contact-image
{  display: flex;    
justify-content: center;
padding-top: 10%;
    
} */
/* .section-contact--homepage img{
    width: 85%;
    height: auto;
    padding-left: 15%;
    padding-top: 6%;
    padding-left: 10%;
} */
.section-contact--homepage img {
    width: 85%;
    align-items: center;
    padding-left: 10%;
    padding-top: 8%;

}

.section-contact--homepage a {
    color: var(--white-color);
    text-transform: capitalize;
    font-weight: 800;
    /* padding-right: 1%; */
}

.section-contact--homepage .fa-solid {
    padding: 0;
    /* background-color:rgb(24, 131, 202); */
    background-color: var(--bnt-hover-bg-color);
    color: var(--white-color);

}

.section-contact--homepage p {
    padding-top: 7%;
    padding-bottom: 9%;
}

footer {
    background-color: var(--footer-bg-color);
    padding-top: 18rem;
    padding-bottom: 5rem;
}

.containerp {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    color: var(--white-color);
}

.footer-subheading {
    font-family: "Poppins", sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--white-color);
}

.footer-1--div p {
    margin: 1rem 0 3.2rem 0;
    color: white;
}

.social-footer--icons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.footer-1--div .fa-brands {
    transition: all 0.3s linear;
}

.footer-1--div .fa-brands:hover {
    color: var(--supporting-color);
    background-color: var(--bnt-hover-bg-color);
    rotate: 360deg;
}

.containerh {
    padding-left: 10%;
    padding-top: 3%;
    padding-bottom: 5%;
}

.containers {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10rem;
    padding-left: 5%;
    padding-right: 5%;
}

.gridw {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    padding-bottom: 3%;
    align-items: center;
    gap: 6.4rem;
}


.mb-3 {
    margin-bottom: 3.2rem;
}

label {
    display: block;
    text-transform: capitalize;
}

.contact-content .grid {
    gap: 6.4rem;
}

input,
textarea {
    width: 100%;
    padding: 1.4rem 2.4rem;
    font-size: 1.7rem;
    letter-spacing: 0.1rem;
}

::placeholder {
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
}

.btn-submit {
    font-size: 1.8rem;
    border: none;
    text-transform: capitalize;
}

input:focus-visible,
textarea:focus-visible {
    outline: 0.1rem solid var(--bnt-hover-bg-color);
}

.section-blog {
    background-color: var(--bg-color);

    & .grid {
        gap: 6.4rem;
    }

    & .blog {
        box-shadow: var(--btn-box-shadow);
        transition: scale 0.3s linear;

        -webkit-transition: scale 0.3s linear;
        -moz-transition: scale 0.3s linear;
        -ms-transition: scale 0.3s linear;
        -o-transition: scale 0.3s linear;

        &:hover {
            scale: 1.1;
        }

        & .blog-content {
            padding: 1.4rem 2.4rem 2.4rem;
        }
    }

    & img {
        width: 100%;
        height: auto;
    }

    & .blog-date {
        display: flex;
        justify-content: space-between;
        margin-top: 1.6rem;
        font-size: 1.4rem;

        & .fa-solid {
            background-color: transparent;
            padding: 0;
        }
    }

    & .section-common--title {
        margin-top: 0.8rem;
    }
}

.containerU {
    margin-top: 35px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5rem;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
}

.containern {
    padding-left: 2.5%;
    padding-top: 4%;
    padding-bottom: 5%;
}

.blog h3 {
    font-size: medium;
}

::-webkit-scrollbar {
    width: 1rem;
}

::-webkit-scrollbar-track {
    background: var(--supporting-color);
}


::-webkit-scrollbar-thumb {
    background: var(--main-color);
    border-radius: 50px;
}


::-webkit-scrollbar-thumb:hover {
    background: var(--heading-color);
}

.containerl {
    padding-left: 0%;
}

.containerh {
    padding-top: 5%;
    padding-left: 10%;
}

.containers {
    padding-bottom: 5%;
}

@media (width <=1400px) {
    html {
        font-size: 56.25%;

    }

    .section-hero {
        padding-bottom: 15rem;
    }

    .section-hero img {
        width: 90%;
    }
}

@media (width <=1220px) {
    html {
        font-size: 54%;
        /* 1rem = 9px  */
    }

    .section-contact .contact-map iframe {
        width: 95%;
        padding-right: 0;
    }

    /* :is(.section-contact) .containers {
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr))
        } */

    :is(.about-section,
        .section-blog,
        .tour-section,
        .section-contact,
        .why-choose-section) .containerx,
    .containery,
    .containerb,
    .containerj,
    .grid,
    .containerp,
    .containerU,
    .containers {
        gap: 6.4rem;
    }

    .contact-title {
        font-size: 2.85rem;
    }

    .why-choose-section {
        /* & .left {
                    order: 2;
                }
        
                & .right {
                    order: 3;
                }
        
                & .middle {
                    order: 1; */

        & figure::before {
            width: 0;
            height: 0;
            background-color: transparent;
            padding: 0;
        }

        & figure::after {
            width: 0;
            height: 0;
            background-color: transparent;
            padding: 0;
        }
    }
}

@media (width <=1100px) {
    .section-contact {
        padding-right: 0;
    }

    .section-contact .contact-map iframe {
        width: 95%;
        padding-right: 0;
    }

    :is(.tour-section) .containerz {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    :is(.section-blog) .containerU {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    /* :is(.section-contact) .containers {
                      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr))
                  } */
    .section-contact--homepage .contact-image {
        width: 90%;
        padding-top: 5%;
        padding-bottom: -25rem;
    }


}

@media (width <=998px) {

    .section-hero {
        height: auto;


        & .containerx {
            grid-template-columns: 1fr;
            gap: 0px;

            & .section-hero--content {
                padding: auto;
                padding-top: 5%;
                padding-right: 15%;
                order: 2;
            }

            & .section-hero--image {
                order: 1;
                padding-top: 5%;
                /* width: 70%; */
                width: auto;
                height: auto;
                padding: auto;
                /* padding-bottom: 20%; */

                & img {
                    padding: 0;
                    width: auto;
                }
            }
        }
    }

    .about-section .solo {
        text-align: left;
    }

    .about-section .couple {
        text-align: left;
    }

    .about-section .group {
        text-align: left;
    }


    .section-contact {
        gap: 0;

    }

    .section-contact--homepage .contact-image {
        width: 90%;
        padding-top: 30%;
    }

}

@media (width <=774px) {

    .middle,
        figure {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
        }
    
        .middle figure:before,
        .middle figure::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            background-color: var(--main-color);
            width: 45rem;
            /*aspect-ratio: 1;
      */
            height: 45rem;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            z-index: -1;
        }
    
        .middle figure::before {
            animation: circle 5s linear infinite;
            -webkit-animation: circle 5s linear infinite;
        }
    
        @keyframes circle {
            0% {
                background-color: #b3d0ff;
            }
    
            25% {
                background-color: #80b1ff;
            }
    
            50% {
                background-color: #4d91ff;
            }
    
            75% {
                background-color: #99c0ff;
            }
    
            100% {
                background-color: #3381ff;
            }
        }
    
        .middle figure::after {
            width: 50rem;
            height: 50rem;
            background-color: transparent;
            z-index: -2;
            border: 0.5rem solid var(--supporting-color);
        }
    
    .section-hero {
        height: auto;


        & .containerx {
            grid-template-columns: 1fr;
            gap: 0px;

            & .section-hero--content {
                padding: auto;
                padding-top: 5%;
                padding-right: 10%;
                padding-left: 5%;
                order: 2;
            }

            & .section-hero--image {
                order: 1;
                padding-top: 5%;
                /* width: 70%; */
                width: auto;
                height: auto;
                padding: auto;
                /* padding-bottom: 20%; */

                & img {
                    padding: 0;
                    width: 90%;
                }
            }
        }
    }

    .section-contact--homepage p {
        padding-top: 0%;
        padding-bottom: 3%;
    }

    .containery,
    .containerj,
    .grid,
    .containers {
        grid-template-columns: 1fr;

    }

    .containerj {
        gap: 0rem;
    }

    .section-contact--homepage .grid {
        padding-top: 0;
        padding-left: 0;
        padding-bottom: 0;
        grid-template-columns: 1fr;
        gap: 2px;

        & .contact-image {
            justify-content: center;
            width: 100%;

            & img {
                width: 50%;
                padding-top: 0%;
            }
        }


    }

    .why-choose-section {

        & .left {
            order: 2;

        }

        & .right {
            order: 3;
            padding-top: 0%;

        }

        & .middle {
            order: 1;
            padding-bottom: -2rem;
        }
    }

    .section-navbar .container {
        display: flex;
        flex-direction: column;

        & .navbar ul {
            gap: 2.4rem;
        }

        & .navbar-brand {
            text-align: center;
            margin-bottom: 2.4rem;
        }
    }

    .section-hero .hero-heading {
        font-size: 3.8rem;
    }

    .why-choose-section {
        & img {
            padding-top: 0%;
            padding-bottom: 0%;
            width: 50%;
        }

        /* & .grid {
            gap: 1.4rem;
        } */

        & .left .why-choose {
            align-items: start;
            text-align: left;
        }
    }

    .section-contact--homepage .btn {
        display: block;
        text-align: center;
    }

    .contact-title {
        padding-top: 1rem;
        font-size: 2.2rem;
    }




    .section-contact--homepage .contact-image {
        width: 50%;
        /* width: 800px; */
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 10%;
        padding-top: 5px;
        padding-right: 0rem;

        height: auto;

        & img {
            width: 10px;
        }
    }

    .contact-map #ram {
        width: 380px;
        height: 335px;
        padding-left: 17%;
        padding-bottom: 10%;
    }
        .section-contact--homepage {
            padding-left: 0%;
        }
                .section-contact--homepage .contact-image {
                    scale: 1.2;
                    height: 80px;
                    padding-left: 0%;
                    padding-top: 10%;
                }
}
@media(width<=574px)
{
    .middle,
        figure {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
        }
    
        .middle figure:before,
        .middle figure::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            background-color: var(--main-color);
            width: 41rem;
            /*aspect-ratio: 1;
          */
            height: 41rem;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            z-index: -1;
        }
    
        .middle figure::before {
            animation: circle 5s linear infinite;
            -webkit-animation: circle 5s linear infinite;
        }
    
        @keyframes circle {
            0% {
                background-color: #b3d0ff;
            }
    
            25% {
                background-color: #80b1ff;
            }
    
            50% {
                background-color: #4d91ff;
            }
    
            75% {
                background-color: #99c0ff;
            }
    
            100% {
                background-color: #3381ff;
            }
        }
    
        .middle figure::after {
            width: 44rem;
            height: 44rem;
            background-color: transparent;
            z-index: -2;
            border: 0.5rem solid var(--supporting-color);
        }
}
@media(width<=504px) {

    .middle,
    figure {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .middle figure:before,
    .middle figure::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        background-color: var(--main-color);
        width: 35rem;
        /*aspect-ratio: 1;
          */
        height: 35rem;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        z-index: -1;
    }

    .middle figure::before {
        animation: circle 5s linear infinite;
        -webkit-animation: circle 5s linear infinite;
    }

    @keyframes circle {
        0% {
            background-color: #b3d0ff;
        }

        25% {
            background-color: #80b1ff;
        }

        50% {
            background-color: #4d91ff;
        }

        75% {
            background-color: #99c0ff;
        }

        100% {
            background-color: #3381ff;
        }
    }

    .middle figure::after {
        width: 39rem;
        height: 39rem;
        background-color: transparent;
        z-index: -2;
        border: 0.5rem solid var(--supporting-color);
    }
}

@media (width <=450px) {
    .middle,
        figure {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
        }
    
        .middle figure:before,
        .middle figure::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            background-color: var(--main-color);
            width: 30rem;
            /*aspect-ratio: 1;
              */
            height: 30rem;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            z-index: -1;
        }
    
        .middle figure::before {
            animation: circle 5s linear infinite;
            -webkit-animation: circle 5s linear infinite;
        }
    
        @keyframes circle {
            0% {
                background-color: #b3d0ff;
            }
    
            25% {
                background-color: #80b1ff;
            }
    
            50% {
                background-color: #4d91ff;
            }
    
            75% {
                background-color: #99c0ff;
            }
    
            100% {
                background-color: #3381ff;
            }
        }
    
        .middle figure::after {
            width: 31rem;
            height: 31rem;
            background-color: transparent;
            z-index: -2;
            border: 0.5rem solid var(--supporting-color);
        }
    .section-contact--homepage .contact-image {
        width: 80%;

        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 5%;
        padding-top: 5px;
        padding-right: 0rem;

        height: auto;


    }

    .section-contact--homepage .btn a {
        font-size: 2rem;

    }

    .containers {
        padding-right: 10%;
        padding-left: 0%;
    }

    .contact-content .gridw {
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .containers {
        width: 300px;
    }

    .section-contact {
        width: 350px;
        padding-left: 0%;
        padding-right: 5%;
    }

    .contact-map #ram {
        width: 330px;
        height: 335px;
        padding-left: 17%;
        padding-bottom: 10%;
    }
.section-contact--homepage {
    padding-left: 0%;
}
}

@media (width <=378px) {
    .section-navbar .container {
            display: flex;
            flex-direction: column;
            min-width: 300px;
    
            & .navbar ul {
                gap: 1rem;
            }
    
            & .navbar-brand {
                text-align: center;
                margin-bottom: 2.4rem;
            }
        }
    .contact-title {
        padding-top: 0rem;
        padding-left:0;
        font-size: 1.8rem;
    }

    .section-contact--homepage .btn a {
        font-size: 1.4rem;

    }

    .section-contact--homepage .contact-image {
        width: 100%;
        height: 100px;

    }
 .contact-map #ram {
     width: 300px;
     height: 305px;
     padding-left: 17%;
     padding-bottom: 10%;
 }
 body{
    overflow-x: hidden;
 }
    .section-contact--homepage .contact-image {
        scale: 1.5;
        height: 100px;
        padding-left: 0%;
    }
        .section-contact--homepage h3{
            font-size: 1rem;
        }
        
}

